script#panel_template_notinsured(style='display: none')
  //<![CDATA[
  div.row
    div.col-lg-12
      .panel.panel-default
        .panel-heading
          h3.panel-title
            span(class="glyphicon glyphicon-exclamation-sign")
            | &nbsp; Nepojištěná období
        .panel-body
          p Bylo nalezeno období, kdy vozidlo nemělo uzavřeno povinné ručení. To může mít několik příčin:
          ul
            li  V danou dobu nemuselo být evidováno pod touto registrační značkou (před koupí, po prodeji a pod.).
            li  Vozidlo mělo značky uloženy na úřadě v depozitu a nebylo provozováno.
            li  Opravdu neexistovalo žádné pojištění a s velkou pravděpodobností se dříve či později ozve ČKP a bude vymáhat peníze.
          p
          strong Období, pro která nebylo nalezeno pojištění:
            ul(id="notInsuredDates")
              != "<% _.each(intervals, function(interval) { %>"
              li <%= interval %>
              != "<% }); %>"
  //]]>

script#panel_template_insured(style='display: none')
  //<![CDATA[
  div.row
    div.col-lg-12
      .panel.panel-default(id="insured")
        .panel-heading
          h3.panel-title
            span(class="glyphicon glyphicon-ok")
            | &nbsp; Pojištěná období
        .panel-body
          p V těchto obdobích bylo vozidlo pojištěno:
            ul
                != "<% _.each(intervals, function(interval) { %>"
                  li <%= interval %>
                != "<% }); %>"
  //]]>
script#panel_template_companies(style='display: none')
  //<![CDATA[
  div.row
    div.col-lg-12
      .panel.panel-default(id="companies-contacts")
        .panel-heading
          h3.panel-title
            span(class="glyphicon glyphicon glyphicon-phone-alt")
            | &nbsp; Kontakty na vaše pojišťovny
        .panel-body
          != "<% _.each(companies, function(item) { %>"
            div.col-md-4
              h4 <%= item.name %>
              span.glyphicon.glyphicon-phone-alt
              | &nbsp;+420 <%= item.tel %>
              br
              span.glyphicon.glyphicon-envelope
              | &nbsp;
              a(href!="mailto:<%= item.email %>?subject=Dotaz%20k%20pojištění%20vozidla%20<%= regno %>") <%= item.email %>
              br
              span.glyphicon.glyphicon-home
              | &nbsp;
              a(href!="<%= item.web %>") <%= item.web %>
          != "<% }); %>"
  //]]>
script#panel_typeinfo(style='display: none')
    //<![CDATA[
    div.row
      div.col-lg-12
        h3(id="type") <%= vehicle.manufacturer %> - <%= vehicle.spz %>, <%= vehicle.type %>
    //]]>
script#panel_timeline(style='display: none')
    //<![CDATA[
    div.row
      div.col-lg-12
        div(id="chart" style="max-height:300px;")
        p.helptext TIP: pro zobrazení podrobnějších informací najeďte myší na pole s datem.
    //]]>
script#panel_anniversary(style='display: none')
  //<![CDATA[
  div.row
    div.col-lg-12
      .panel.panel-default(id="insured")
        .panel-heading
          h3.panel-title
            span(class="glyphicon glyphicon-calendar")
            | &nbsp; Výročí smlouvy a výpověď
        .panel-body
          p Vaše aktuální pojistná smlouva byla uzavřena dne  <%= contractFrom.getDate() %>.<%= contractFrom.getMonth() + 1 %>.<%= contractFrom.getFullYear() %>.
            <% if (twoMonthsFromStart.getTime() > new Date().getTime()) { %>
            p Pojištění bylo uzavřeno před méně, jak dvěma měsíci. Můžete tak případně vypovědět pojištění v zákonné lhůtě 2 měsíců od uzavření pojistky - nejpozději <%= twoMonthsFromStart.getDate() %>.<%= twoMonthsFromStart.getMonth() + 1 %>.<%= twoMonthsFromStart.getFullYear() %>.
            p Další možnost výpovědi nastane až k výročí smlouvy. Výpověď je v tom případě nutné podat nejpozději 6 týdnů před jejím výročím (
              a(href="http://business.center.cz/business/pravo/zakony/pojistna_smlouva/cast1h1.aspx") § 22 odst. 1 zák. č. 37/2004 Sb.
              |), tedy nejpozději dne <%= anniversary.getDate() %>.<%= anniversary.getMonth() + 1 %>.<%= anniversary.getFullYear() %>.
            <% } else { %>
          p Pokud budete chtít změnit pojišťovnu, je nutné vypovědět smlouvu nejpozději 6 týdnů před jejím výročím (
            a(href="http://business.center.cz/business/pravo/zakony/pojistna_smlouva/cast1h1.aspx") § 22 odst. 1 zák. č. 37/2004 Sb.
            |), tedy nejpozději dne <%= anniversary.getDate() %>.<%= anniversary.getMonth() + 1 %>.<%= anniversary.getFullYear() %>.
          <% } %>
  //]]>
script#panel_nodata(style='display: none')
    //<![CDATA[
    div.row.nodata
      div.col-lg-12
        div.alert.alert-danger
          i.fa.fa-exclamation-triangle
          | &nbsp; To nevypadá dobře. Přes usilovnou shahu nebyly nalezeny žádné informace o pojištění vozidla <%= regno %>. Je registrační značka správná?
    //]]>

script#tooltip_timeline(style='display: none')
      <% if (data.value == null) { %>
      p
        i.fa.fa-exclamation-triangle
        | &nbsp;V období od <%- new Date(data.start).getDate() %>.<%- new Date(data.start).getMonth() + 1 %>.<%- new Date(data.start).getFullYear() %> do <%- new Date(data.end).getDate() %>.<%- new Date(data.end).getMonth() + 1 %>.<%- new Date(data.end).getFullYear() %> nebylo vozidlo evidováno u žádné pojišťovny.
      <% } else { %>
      p
        i.fa.fa-check-square
        | &nbsp;Vozidlo v&nbsp;pořádku pojištěno.
      table
        tr
          th Interval pojištění:
          td <%- data.value.period %>
        tr
          th Pojišťovna:
          td <%- data.value.company.name %>
        tr
          th SPZ/RZ vozidla:
          td <%- data.value.spz %>
        tr
          th Druh vozidla:
          td <%- data.value.type %>
        tr
          th Výrobce:
          td <%- data.value.manufacturer %>
      <% } %>


script#panel_error(style='display: none')
    div.row.nodata
        div.col-lg-12
            div.alert.alert-danger
                i.fa.fa-exclamation-triangle
                | &nbsp; Nastala chyba: <%- error.message  %>
