script#modal_template(style='display: none')
  //<![CDATA[
  .modal.fade(id="insurance_tip")
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
            h4.modal-title<%- data.value.manufacturer %> <%- data.value.spz %>
          .modal-body
            p Vozidlo bylo v období <%- data.value.period %> v pořádku pojištěno.
            table
              tr
                th SPZ/RZ vozidla:
                td <%- data.value.spz %>
              tr
                th Druh vozidla:
                td <%- data.value.type %>
              tr
                th Výrobce:
                td <%- data.value.manufacturer %>
              tr
                th Interval pojištění:
                td <%- data.value.period %>
              tr
                th Pojišťovna:
                td <%- data.value.company.name %>
              tr
                th Ověřovací link:
                td
                  a(href!="<%- data.value.url %>", target="_blank") <%- data.value.url %>
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Zavřít
  //]]>

script#modal_template_notinsured(style='display: none')
  //<![CDATA[
  .modal.fade(id="insurance_tip_notinsured")
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
            h4.modal-title Nepojištěno
          .modal-body
            p V období od <%- new Date(data.start).getDate() %>.<%- new Date(data.start).getMonth() + 1 %>.<%- new Date(data.start).getFullYear() %> do <%- new Date(data.end).getDate() %>.<%- new Date(data.end).getMonth() + 1 %>.<%- new Date(data.end).getFullYear() %> nebylo vozidlo evidováno u žádné pojišťovny.
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Zavřít
  //]]>

script#panel_template_notinsured(style='display: none')
  //<![CDATA[
  div.row
    div.col-lg-12
      .panel.panel-default
        .panel-heading
          h3.panel-title
            span(class="glyphicon glyphicon-exclamation-sign")
            | &nbsp; Nepojištěná období
        .panel-body
          p Bylo nalezeno období, kdy vozidlo nemělo uzavřeno povinné ručení. To může mít několik příčin:
          ul
            li  V danou dobu nemuselo být evidováno pod touto registrační značkou (před koupí, po prodeji a pod.).
            li  Vozidlo mělo značky uloženy na úřadě v depozitu a nebylo provozováno.
            li  Opravdu neexistovalo žádné pojištění a s velkou pravděpodobností se dříve či později ozve ČKP a bude vymáhat peníze.
          p
          strong Období, pro která nebylo nalezeno pojištění:
            ul(id="notInsuredDates")
              != "<% _.each(intervals, function(interval) { %>"
              li <%= interval %>
              != "<% }); %>"
  //]]>

script#panel_template_insured(style='display: none')
  //<![CDATA[
  div.row
    div.col-lg-12
      .panel.panel-default(id="insured")
        .panel-heading
          h3.panel-title
            span(class="glyphicon glyphicon-ok")
            | &nbsp; Pojištěná období
        .panel-body
          p V těchto obdobích bylo vozidlo pojištěno:
            ul
                != "<% _.each(intervals, function(interval) { %>"
                  li
                    a(href="#") <%= interval %>
                != "<% }); %>"
  //]]>
script#panel_template_companies(style='display: none')
  //<![CDATA[
  div.row
    div.col-lg-12
      .panel.panel-default(id="companies-contacts")
        .panel-heading
          h3.panel-title
            span(class="glyphicon glyphicon glyphicon-phone-alt")
            | &nbsp; Kontakty na vaše pojišťovny
        .panel-body
          != "<% _.each(companies, function(item) { %>"
            div.col-md-4
              h4 <%= item.name %>
              span.glyphicon.glyphicon-phone-alt
              &nbsp;+420 <%= item.tel %>
              br
              span.glyphicon.glyphicon-envelope
              | &nbsp;
              a(href!="mailto:<%= item.email %>?subject=Dotaz%20k%20pojištění%20vozidla%20<%= regno %>") <%= item.email %>
              br
              span.glyphicon.glyphicon-home
              | &nbsp;
              a(href!="<%= item.web %>") <%= item.web %>
          != "<% }); %>"
  //]]>
script#panel_typeinfo(style='display: none')
    //<![CDATA[
    div.row
      div.col-lg-12
        h3(id="type") <%= vehicle.manufacturer %> - <%= vehicle.spz %>, <%= vehicle.type %>
    //]]>
script#panel_timeline(style='display: none')
    //<![CDATA[
    div.row
      div.col-lg-12
        div(id="chart" style="height:300px;")
    //]]>