include share-buttons

p
    | Autor:&nbsp;
    a(href="http://www.tomas-dvorak.cz") Tomáš Dvořák
    | (
    a(href="https://www.twitter.com/tdvorak") @tdvorak
    | ),&nbsp;GitHub repository:&nbsp;
    a(href="https://github.com/todvora/pojisteni") github.com/todvora/pojisteni
    | .&nbsp; Autor nenese za informace ani jejich použití žádnou zodpovědnost. Veškerá data
    | jsou přebírána ze stránek&nbsp;
    a(href="https://ic.ckp.cz/ICwww/servlet?_page=searchSPZ&lngID=1") ckp.cz
    | &nbsp;a mohou obsahovat chyby, nepřesnosti nebo naopak nemusí být zobrazeny všechny údaje.
    | Stránky slouží jako uživatelsky příjemné rozhraní pro prohlížení dat.
    | Provozovatel stránek není v žádném vztahu s ČKP ani kteroukoliv pojišťovnou. Pojištění, které bylo uzavřeno na
    | dobu kratší než jeden měsíc s velkou pravděpodobností aplikace nedovede rozpoznat.