extends layout

block content
  h1 Proč projekt vznikl?
  p Nelíbí se mi, jak ČKP vymáhá značné sumy za nezaplacené pojištění, aniž by vlastně
    | poskytovala nějakou možnost, jak si ověřovat, co o nás eviduje. Které smlouvy a pojišťovny
    | jsou přiřazeny k naší registrační značce. V jakém období bylo pojištění platné. V kterých
    | intervalech nebylo vozidlo pojištěno vůbec.

  p Navíc samotné pojišťovny dělají všechno proto, aby je klient nemohl opustit a vybrat si
    | výhodnější. Vypovědět smlouvu lze jen v několika málo přesně definovaných situacích. A těžko
    | se hlídá, kdy je výpověď možná a kdy se musí čekat na další výročí smlouvy.
  p Se zákony nic nesvedu. Dovedu ale data zobrazit přehledněji, logicky a tak, aby měl člověk
    | přehled, jak to s jeho pojištěním vypadá a co se s tím dá dělat.
