extends layout

block content
  h1= Kontakt
  h3 Autor projektu
  p Tomáš Dvořák
    |(
    a(href="https://www.twitter.com/tdvorak") @tdvorak
    |)
  p
    a(href="http://www.tomas-dvorak.cz") www.tomas-dvorak.cz
  p
    a(href="mailto:todvora@gmail.com") todvora@gmail.com
  h3 Zdrojové kódy
  p Celý projekt má otevřené zdrojové kódy a je tak možné zkontrolovat, co všechno se děje uvnitř.
  p Můžete si projekt zkopírovat, změnit, spustit u sebe nebo s ním naložit dle libosti.
  p Zdrojové kódy jsou dostupné na&nbsp;
    a(href="http://github.com/todvora/pojisteni") github.com/todvora/pojisteni
  h3 Chyby, přání a stížnosti
  p Veškeré problémy, návrhy na úpravy nebo rozšíření prosím zapisujte na stránce &nbsp;
    a(href="https://github.com/todvora/pojisteni/issues") github.com/todvora/pojisteni/issues
