extends layout

block content
  div.row
    div.col-lg-12
      h1 Informace o povinném ručení vozu
      div.input-group
        input.form-control(type="text", class="form-control", id="regno", placeholder="SPZ/RZ vašeho vozu")
        span.input-group-btn
          button(type="submit", class="btn btn-primary", id="submit", data-loading-text="<span class='glyphicon glyphicon-download'></span> Načítám informace...") Zjistit historii pojištění
  div#content.row
    div.col-lg-12
      h3(id="type") &nbsp;
      div(id="chart" style="height:300px;")

  include includes/app_templates
