extends layout

block content

  h1 Informace o povinném ručení vozu
  div.row
    div.col-lg-12
      div.input-group
        input.form-control(type="text", class="form-control", id="regno", placeholder="SPZ/RZ vašeho vozu")
        span.input-group-btn
          button(type="submit", class="btn btn-primary", id="submit") Zjistit historii pojištění
  br
  br
  div(id="chart", width="500px", height="500px")
