doctype html
html
  head
    title Informace o povinném ručení vozidel
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    include includes/analytics


  body
    div.container
      block content
    div.container.footer
      div.row
        div.col-lg-12
            p
              | Author:&nbsp;
              a(href="http://www.tomas-dvorak.cz") Tomáš Dvořák
              | (
              a(href="https://www.twitter.com/tdvorak") @tdvorak
              | ),&nbsp;GitHub repository:&nbsp;
              a(href="https://github.com/todvora/pojisteni") github.com/todvora/pojisteni
              | .&nbsp; Autor nenese za informace ani jejich použití žádnou zodpovědnost. Veškerá data
              | jsou přebírána ze stránek&nbsp;
              a(href="https://ic.ckp.cz/ICwww/servlet?_page=searchSPZ&lngID=1") ckp.cz
              | &nbsp;a mohou obsahovat chyby, nepřesnosti nebo naopak nemusí být zobrazeny všechny údaje.
              | Stránky slouží jako uživatelsky příjemné rozhraní pro prohlížení dat.
              | Provozovatel stránek není v žádném vztahu s ČKP ani kteroukoliv pojišťovnou.
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
    script(src="http://www.google.com/jsapi")
    script(src="/javascripts/timeline-min.js")
    script(src="/javascripts/insurance-timeline.js")
    script(src="/javascripts/app.js")


